<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>Lora-Regular.ttf</string>
		<string>Lora-Medium.ttf</string>
		<string>Lora-SemiBold.ttf</string>
		<string>Lora-Bold.ttf</string>
		<string>Lora-Italic.ttf</string>
		<string>Nunito-Regular.ttf</string>
		<string>Nunito-Medium.ttf</string>
		<string>Nunito-SemiBold.ttf</string>
		<string>Nunito-Bold.ttf</string>
		<string>Caveat-Regular.ttf</string>
		<string>Caveat-Bold.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
</dict>
</plist>
